body{
  background:#f1f1f1;
  font:70% Arial, Helvetica, sans-serif; 
  color:#555;
  line-height:150%;
  text-align:left;  
}

a{
  text-decoration:none;
  color:#FF0000;/*057fac;*/
}
a:hover{
  text-decoration:none;
  color:#00FF00;/*999;*/
}

th{
/*  position: fixed;
  display: inline-block;*/
}

.left{
  position: fixed;
  display: inline-block;
  margin-top: 6em;
  margin-left: 2em;
}

#buttonsLeft {
  width: 12em;
  border-right: 1px solid #000;
  padding: 0 0 1em 0;
  margin-bottom: 1em;
  font-family: 'Trebuchet MS', 'Lucida Grande',
  Verdana, Lucida, Geneva, Helvetica, 
  Arial, sans-serif;
  background-color: #90bade;
  color: #333;
  float: left;
}

#buttonsLeft ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

#buttonsLeft li {
  border-bottom: 1px solid #90bade;
  margin: 0;
}
#buttonsLeft li a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 10px solid #1958b7;
  border-right: 10px solid #508fc4;
  background-color: #2175bc;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

html>body #buttonsLeft li a {
  width: auto;
}

#buttonsLeft li a:hover {
  border-left: 10px solid #1c64d1;
  border-right: 10px solid #5ba3e0;
  background-color: #2586d7;
  color: #fff;
}



#content{
  display: block;
  padding-left: 18em; 
}